{% load staticfiles %}

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<!-- Needed so that card details are authenticated on Stripe's side (PCI compliance) -->
<script src="https://js.stripe.com/v3/"></script>

<!-- Import the client side script -->
<script type="text/javascript" src="{% static 'javascript/app.js' %}"></script>

<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">

<form
        action= {% if saving_card_details %}
                    "payment_method/save"
                {%  %}
                "/charge/" method="post" id="payment-form">
  {% csrf_token %}

  <div class="input-field">
    <label for="card-element">
      Credit or debit card
    </label>

    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <br/>

    <div id="card-entry-btn-container">
      <button id="card-entry-btn">
        Submit
      </button>
    </div>
</form>
