{% extends 'base.html' %}
{% load card_input %}

{% block title %}
    Checkout
{% endblock %}

{% block body_block %}
    <p>Content for the checkout page for an order will go here.</p>
    <div class="card container" style="width: 30em; align-self: center; margin: 1em;">
        {% card_entry_widget %}
        <div class="row align-text-middle">
            {% if not user.is_authenticated %}
                <div class="input-field inline col s8">
                    <input type="email"
                           id="anon_email"
                           form="payment-form"
                           name="visitor_email"
                           style="height: 2em;"
                           required >

                    <label for="anon_email" style="">Email</label>
                </div>
            {% endif %}

            <div class="col s4">
                <button class="btn waves-effect waves-light" type="submit" name="action" form="payment-form">
                    {{ amount }}
                </button>
            </div>
        </div>

    </div>
{% endblock %}